body {
    background-color: aqua;
}

h1 {
    text-align: center;     /* Centrar el texto */
    font-size: 36px;        /* Tamaño de la fuente */
    color: #f00c0c;            /* Color del texto */
    background-color: #1b75be; /* Color de fondo */
    padding: 20px;          /* Espaciado interno */
    border-radius: 10px;    /* Borde redondeado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 0 auto;         /* Margen automático para centrar horizontalmente */
    width: 60%;             /* Ancho del título */
    font-family: Arial, sans-serif; /* Tipo de fuente */
  }
.comida-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nombre-comida {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.tipo-comida {
  font-style: italic;
  color: #777;
}
.lista-ingredientes {
  list-style-type: disc;
  padding-left: 20px;
  color: #555;
}
.calorias {
  font-size: 14px;
  color: #888;
}